#player-board,
#opponent-board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-gap: 2px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
}
.cell {
  width: 30px;
  height: 30px;
  background-color: lightblue;
  border: 1px solid #ccc;
}
.cell.ship {
  background-color: gray;
}
.cell.hit {
  background-color: red;
}
.cell.miss {
  background-color: white;
}
#winner-message {
  display: none;
  font-size: 24px;
  color: green;
}
